* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
}

header {
	width:100%;
	height: auto;
}

main {
	position:relative;
	top:120px;
	margin-left: 20%;
	margin-right: 20%
}

footer {
	margin-left: 20%;
	margin-right: 20%;
}

h1.title {
	font-size: 28px;
	margin-bottom: 10px;
	color: darkmagenta;
}

h2 {
	font-size: 24px;
	margin-top:20px;
	border-bottom: 1px solid black;
}

h3 {
	font-size: 18px;
}

p {
	font-size: 14px;
	margin-top: 5px;
	margin-bottom: 5px;
}

a {
	color: black;
	text-decoration: none;
	
}

ul {
}


li {
	
}

nav li {
	display:inline-block
}

ul.rightside {

}

div.pagetitle{
	text-align:left;
}

tr.firsttablerow{
	background-color: hsla(301,100%,82%,1.00);
}

td {
	padding: 3px;
}

table {
	table-layout: fixed;
}

.navbar {
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
	position: fixed;
	z-index: 10;
	background-color: darkmagenta;
}

.firstrow {
	display: inline-block;
	width: 100%;
	margin-left: 20%;
	margin-right: 20%;
}

.leftside {
	text-align: left;
	width: 500px;
	color: white;
	margin-top: 10px;
	display: inline-block;
	position:absolute;
	top:0px;
}

.leftside li {
	text-transform: uppercase;
	vertical-align: middle;
}

.logo {
	width: 80px;
}

.logo img {
	width: 100%;
	height: 100%;
}


.rightside {
	position: absolute;
	top: 0px;
	right:0px;
	width: 150px;
	color: white;
	margin-top: 10px;
	margin-right: 20%;
	display: inline-block;
}

.rightside img {
	width: 60px;
	height: 60px;
	padding: 10px;
}

.firstrow div {
}

.rightside div {
	text-align: right;
	display: inline-block;
	padding: 0;
}

.navbar .firstrow {
	display: inline-block;
	width: 100%;
	height: 70px;
}

.navbar .secondrow {
	display: inline-block;
	background-color: lightgray;
	color: black;
	width: 100%;
	font-size: 12px;
	text-transform: uppercase;
}

.firstrow li {
	padding: 0 10px;
}

.secondrow ul {
	margin-left: 20%;
	margin-right: 20%;
}

.secondrow li {
	padding: 3px 10px;
	font-weight: bold;
}

.pagetitle {
}

.Selectors th {
	text-align:left;
	padding: 3px;
}

.Selectors td {
	font-size:14px;
	vertical-align: top;
	border-bottom: 1px solid black;
}

td.firstcol {
	width: 100px;
	font-weight: bold;
}

td.secondcol {
	width: 250px;
	position:relative;
}

td.thirdcol {
	width: 350px;
}

td.fourthcol {
	width: 350px;
}

td.sequencebox {
	background-color: cyan;
	padding: 10px;
}

.Specificity {
}

.Chaining {
}

.Descendentcombinator {
}

.MultipleSelectors {
}

.code {
	background-color:hsla(0,0%,90%,1.00);
	width: 300px;
	padding:10px;
}
